.Node {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 6px #e3e3e3;
  max-width: 350px;
}

.Header {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 13px;
  border-bottom: 1px solid #dcdcdc;
  padding: 8px 21px 8px 21px;
  letter-spacing: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

textarea {
  min-height: 26px;
}

.Node label {
  letter-spacing: -0.5px;
}

.Node > div:first-of-type {
  display: flex;
  flex-direction: column;
  margin: 0px 12px 13px 12px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #f3f3f3;
  border-radius: 6px;
}

.Node > div > p:last-child {
  font-size: 12px;
  font-weight: 400;
  color: #454545;
}

.Node > button {
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  background-color: #f3f3f3;
  border-radius: 6px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.Node > button > span {
  font-size: 12px;
}

.NewCommands {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  padding-right: 12px;
  gap: 8px;
}

.Command {
  border: none;
  border-radius: 6px;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
}

.Command input {
  background-color: initial;
  border: none;
  outline: none;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.Command:last-of-type {
  margin-bottom: 13px;
}

.Message {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  padding-right: 12px;
  gap: 8px;
}

.Message {
  margin-bottom: 13px;
  display: flex;
  flex-direction: column;
}

.Message select {
  background-color: #f3f3f3;
  border-radius: 6px;
  height: 26px;
  border: none;
  outline: none;
}

.Message .TypeOfMessage {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 26px;
}

.Message textarea,
.Message input {
  background-color: #f3f3f3;
  border-radius: 6px;
  border: none;
  padding-left: 10px;
  padding-top: 5px;
  min-width: 100%;
  max-width: 250px;
}

.Media {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Media input[type="file"] {
  display: none;
}

.File > button {
  background-color: #252525;
  border-radius: 6px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffffff;
  font-weight: 400;
  pointer-events: none;
}

.File:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.File:active {
  opacity: 0.7;
}

.File {
  cursor: pointer;
  transition: all 0.3s ease;
}

.Text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.TextQuestion {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.TextQuestion > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Length > div {
  width: 50%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.Length > div > input {
  border-radius: 3px;
}

.Checkbox {
  display: flex;
  flex-direction: row;
}

.Checkbox > input {
  width: 30px !important;
}

.choiceButton > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.choiceButton > div:not(.choiceButton > div:first-of-type) {
  margin-top: 10px;
}

.choiceButton > div > p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Header input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -1px;
  text-align: center;
}
