.Panel {
  width: 100%;
  z-index: -5;
  transition: all 0.5s ease;
  background-color: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.Dark {
  background-color: black;
  opacity: 0.3;
    z-index: 8;
}

.ScriptEdit {
  position: relative;
}

.AddBlock {
  display: flex;
  align-items: center;
  gap: 9px;
  position: absolute;
  top: 150px;
  left: 30px;
  z-index: 10;
}

.NavPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 90px;
  box-shadow: 0 0 6px 0 #e3e3e3;
}

.NavPanel > div {
  display: flex;
  align-items: center;
}

.NavPanel div:first-of-type {
  gap: 11px;
  margin-left: 37px;
}

.NavPanel div:first-of-type p {
  font-size: 20px;
  font-weight: 600;
  color: #252525;
}

.NavPanel div:nth-of-type(2) {
  gap: 21px;
  margin-left: auto;
  margin-right: 35px;
}

.NavPanel div:nth-of-type(3) {
  gap: 19px;
  margin-right: 25px;
}

.NavPanel div:nth-of-type(3) > button {
  border-radius: 6px;
  box-shadow: 0 0 6px 0 #e3e3e3;
  height: 26px;
  font-size: 14px;
  font-weight: 400;
}

.AddBlock > button {
  width: 60px;
  height: 60px;
  border-radius: 500px;
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.AddBlock > button:hover {
  transform: scale(1.1);
}

.CloseNodeList {
  transform: rotate(0deg);
}

.OpenNodeList {
  transform: rotate(135deg);
}

.AddBlock > p {
  font-size: 14px;
  font-weight: 400;
  color: #252525;
  background-color: #d9d9d9;
  border-radius: 6px;
  padding: 9px 18px 9px 18px;
  transition: all 0.3s ease;
}

.ShowText {
  opacity: 1;
}

.HideText {
  opacity: 0;
}
