.Script {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 6px 0 #e3e3e3;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding-left: 19px;
  padding-right: 15px;
}

.Header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-left: -19px;
  margin-right: -15px;
  padding-left: 19px;
  padding-right: 15px;
  padding-bottom: 4px;
  margin-top: 12px;
  color: black;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 1px solid #dcdcdc;
}

.Header p:nth-of-type(2) {
  text-align: center;
}

.Header button {
  text-align: end;
}

.Description {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-top: 23px;
}

.Description p:nth-of-type(2) {
  text-align: center;
}

.Description p:last-of-type {
  text-align: end;
  margin-right: 61px;
}

.Interact {
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
  margin-bottom: 14px;
  height: 24px;
}

.Interact div {
  display: flex;
  height: 20px;
}

.Interact div:first-of-type {
  gap: 12px;
}

.Interact div:last-of-type {
  gap: 22px;
}

.Button {
  width: 130px;
  background-color: #252525;
  border-radius: 6px;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  height: 24px;
  align-self: center;
  transition: all 0.3s ease;
}

/* Переопределение стилей для Элемента-бота */
.HeaderBots {
  display: grid;
  grid-template-columns: 350px 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 5px;
}

.HeaderBots p:first-of-type {
  width: 350px;
}

.BotDescription {
  display: grid;
  grid-template-columns: 350px 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 5px;
  margin-top: 23px;
  margin-bottom: 15px;
}

.BotDescription div:first-of-type {
  display: flex;
  gap: 17px;
  align-items: center;
}

.BotActivation {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 97px;
  align-self: center;
  cursor: pointer;
}

.BotActivation p {
  font-weight: 500;
  font-size: 16px;
  color: #252525;
  text-align: center;
}

.BotActivation > div {
  width: 73px;
  height: 24px;
  align-self: center;
  border-radius: 6px;
  padding-left: 3px;
  padding-right: 3px;
  transition: all 0.3s ease;
}

.BotActivation > div > div {
  width: 32px;
  height: 18px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.turnOnBack {
  background-color: #f3f3f3;
  box-shadow: 0 0 6px 0 #e3e3e3 inset;
}

.turnOffBack {
  background-color: #252525;
}

.turnOnCircle {
  background-color: #252525;
  transform: translateX(32px);
}

.turnOffCircle {
  background-color: #ffffff;
  transform: translateX(0);
}

/* Анимации */

.Button:hover {
  transform: scale(1.05) translateY(-5px);
  opacity: 0.8;
}

.Button:active {
  opacity: 0.4;
}

.Icons {
  transition: 0.3s all ease;
}

.Icons:hover {
  transform: scale(1.15);
  opacity: 0.6;
}

.Icons:active {
  opacity: 0.4;
}
