.EmptyBotNotif {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  top: 45vh;
  left: 50vh;
  z-index: 10;
}

.EmptyBotNotif p {
  color: black;
  font-weight: 500;
  font-size: 16px;
}

.LinkBot {
  position: absolute;
  top: 25vh;
  left: 30vh;
  z-index: 10;
  max-width: 598px;
  background-color: #ffffff;
  box-shadow: 0 0 6px 0 #e3e3e3;
  border-radius: 10px;
}

.LinkBot > p {
  color: #252525;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid #dcdcdc;
  padding: 17px 214px 17px 214px;
  margin-bottom: 36px;
}

.LinkBot > div {
  display: flex;
  flex-direction: column;
  margin-left: 45px;
  margin-right: 45px;
}

.ScriptWithBot {
  display: flex;
  flex-direction: column;
  position: relative;
}

.ScriptWithBot p:first-of-type {
  font-weight: 500;
  font-size: 14px;
  color: #454545;
  margin-bottom: 10px;
  text-align: center;
}

.ScriptWithBot p:nth-of-type(2) {
  margin-top: 9px;
  margin-bottom: 9px;
  color: black;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}

.ScriptWithBot p:nth-of-type(3) {
  margin-bottom: 10px;
  text-align: center;
}

.BotButtons {
  display: flex;
  margin-top: 57px;
  margin-bottom: 35px;
  justify-content: space-between;
}

.PushToken {
  display: flex;
  flex-direction: column;
}

.PushToken p:first-of-type {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  align-self: start;
  color: #454545;
  margin-bottom: 32px;
}

.PushToken p:first-of-type span {
  color: #000000;
}

.PushToken p:last-of-type {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}

.PushToken input {
  all: unset;
  height: 38px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  outline: none;
  color: #a2a2a2;
  font-size: 12px;
  font-weight: 500;
  padding-left: 12px;
}

.PushToken input::placeholder{
  color:#dcdcdc;
}


.SelectScript{
  border: 1px solid rgba(220, 220, 220, 1);
  border-radius: 6px;
  height: 38px;
}

.SelectScriptItem{
  color:#454545;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

